<form [formGroup]="authForm" (ngSubmit)="submitForm()">
  <label for="name-field">Name</label>
  <input
    id="name-field"
    name="name"
    type="text"
    placeholder="eg. Jane Doe"
    formControlName="name"
  />
  @if (nameControl.invalid && (nameControl.dirty || !nameControl.untouched)) {
    @if (nameControl.hasError("pattern")) {
      <p class="form-error">* Name can only contain letters and numbers.</p>
    }
    @if (nameControl.hasError("maxlength")) {
      <p class="form-error">
        * Name must be at most {{ AppConfig.MAX_FIELD_LENGTH }} characters.
      </p>
    }
  }

  <label for="password-field">Password</label>
  <input
    id="password-field"
    name="password"
    type="password"
    placeholder="Enter your password"
    formControlName="password"
  />
  @if (
    passwordControl.invalid &&
    (passwordControl.dirty || !passwordControl.untouched)
    ) {
    @if (passwordControl.hasError("minlength")) {
      <p class="form-error">
        * Password must be at least
        {{ AppConfig.MIN_PASSWORD_LENGTH }} characters.
      </p>
    }
    @if (passwordControl.hasError("maxlength")) {
      <p class="form-error">
        * Password must be at most
        {{ AppConfig.MAX_FIELD_LENGTH }} characters.
      </p>
    }
  }

  <button
    class="primary-button"
    type="submit"
    [disabled]="nameControl.invalid || passwordControl.invalid || loading()"
  >
    @if (loading()) {
      Loading . . .
    } @else {
      Submit
    }
  </button>
</form>
