<button class="borderless-button" (click)="openSignUpDialog()">
  <ng-content>Sign Up</ng-content>
</button>

@let registeredUser = registeredUser$ | async;

<dialog #signUpDialog>
  <div class="dialog-header">
    <h1>Sign Up</h1>
    <button
      class="borderless-button close-dialog-button"
      (click)="closeSignUpDialog()"
    >
      <span class="material-icons">close</span>
    </button>
  </div>
  <dhub-auth-form
    [loading]="(loadingUser$ | async) ?? false"
    (formSubmitted)="signUpUser($event)"
  />
</dialog>

<dialog #signUpResultDialog>
  <div class="dialog-header">
    <h1>Sign Up</h1>
    <button
      class="borderless-button close-dialog-button"
      (click)="closeSignUpResultDialog()"
    >
      <span class="material-icons">close</span>
    </button>
  </div>
  @if (signUpResult === "success") {
    <p>Success, {{ registeredUser?.userName }}! You are signed up!</p>
  } @else if (signUpResult === "userAlreadyExists") {
    <p>Oops! This username is already taken!</p>
  }
</dialog>
