<button class="borderless-button" (click)="openSignUpDialog()">
  <ng-content>Sign Up</ng-content>
</button>

@let registeredUser = registeredUser$ | async;

<dhub-form-dialog
  header="Sign Up"
  [loading]="(loadingUser$ | async) ?? false"
  [formConfig]="AuthFormConfig"
  (formSubmitted)="signUpUser($event)"
></dhub-form-dialog>

<dhub-message-dialog
  header="Sign Up"
  message="{{
    signUpResult === 'success'
      ? 'Success, ' + registeredUser?.userName + '! You are signed up!'
      : 'Oops! This username is already taken!'
  }}"
/>
