<form (ngSubmit)="applyFilters()">
  <p class="form-title"><span class="material-icons">search</span>Filters</p>
  <label for="name-field">Name</label>
  <input
    id="name-field"
    name="name"
    type="text"
    size="1"
    placeholder="e.g. Luna Bistro"
    [(ngModel)]="restaurantsFilters.name"
  />
  <label for="location-field">Location</label>
  <input
    id="location-field"
    name="location"
    type="text"
    size="1"
    placeholder="e.g. Pasta Lane"
    [(ngModel)]="restaurantsFilters.location"
  />
  <label for="score-selection">Score</label>
  <ng-select
    id="score-selection"
    name="score"
    [(ngModel)]="restaurantsFilters.score"
    [items]="scoreOptions"
    [clearable]="false"
    [searchable]="false"
    labelForId="score-selection"
  >
    <ng-template ng-label-tmp ng-option-tmp let-scoreOption="item">
      @if (scoreOption.value === null) {
        <span>Any</span>
      } @else {
        @for (_ of scoreOption.value | enumerate; track $index) {
          <span class="material-icons">star</span>
        }
      }
    </ng-template>
  </ng-select>
  <button type="submit" class="primary-button">Apply</button>
</form>
