section {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xxl);
}

.feature-item {
  display: flex;
  align-items: center;
  column-gap: var(--space-xxl);
}

.feature-item > .feature-description {
  flex: 1;
}

.feature-item > :not(.feature-description) {
  flex: 0.7;
}

.feature-description .feature-title {
  display: block;
  color: var(--primary-color);
  font-size: var(--text-sm);
  font-weight: var(--weight-semibold);
  text-transform: uppercase;
  margin-bottom: var(--text-sm);
}

.feature-description > h3 {
  margin-top: 0;
}

.feature-description > p {
  margin-bottom: var(--space-lg);
}
