<header>
  <h1 class="header-item app-title">
    <a routerLink="/" title="Go to DishHub Home" class="app-brand-wrapper">
      <span class="material-icons app-logo">local_dining</span>DishHub
    </a>
  </h1>
  <nav class="header-item">
    <a
      [routerLink]="appRoutes.Home"
      routerLinkActive="active-link"
      ariaCurrentWhenActive="page"
      >Home</a
    >
    <a
      [routerLink]="appRoutes.Restaurants"
      routerLinkActive="active-link"
      ariaCurrentWhenActive="page"
      >Restaurants</a
    >
    <a
      [routerLink]="appRoutes.About"
      routerLinkActive="active-link"
      ariaCurrentWhenActive="page"
      >About</a
    >
  </nav>
  <div class="header-item"></div>
</header>
