footer {
  display: flex;
  border-top: var(--divider-height) solid var(--divider-color);
  padding: var(--space-sm) var(--outer-margin-horizontal);
}

.github-logo-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.github-logo-wrapper img {
  height: var(--text-xl);
}
