section {
  display: flex;
  margin: var(--space-lg) var(--space-xl) 0 var(--space-xl);
}

.hero-message-wrapper {
  flex: 0.8;
  margin-right: var(--space-xxl);

  h1 {
    font-weight: var(--weight-bold);
    margin: 0;
  }

  p {
    margin-bottom: var(--space-sm);
  }

  button {
    margin-top: var(--space-sm);
  }
}

.hero-features-list {
  display: flex;
  padding: 0;
  margin-top: 0;

  li {
    color: var(--secondary-text-color);
    font-size: var(--text-sm);
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: var(--space-xl);
  }

  li::before {
    content: "•";
    margin-right: var(--space-sm);
    font-size: var(--text-xxl);
  }
}

.hero-image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
  border-radius: var(--surface-corner-radius);
  margin-left: var(--space-xxl);

  span {
    color: var(--primary-color);
    font-size: 180px;
  }
}
