<section>
  <div class="hero-message-wrapper">
    <h1>Find the Best Restaurants Near You</h1>
    <p>
      Browse through hundreds of restaurant options, read honest reviews from
      fellow food lovers, and manage your own dining listings!
    </p>
    <ul class="hero-features-list">
      <li>Discover</li>
      <li>Review</li>
      <li>Share</li>
    </ul>
    <button class="primary-button">Join</button>
  </div>
  <div class="hero-image-wrapper">
    <span class="material-icons">dinner_dining</span>
  </div>
</section>
