:host {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-md);
}

.add-item-button-wrapper button {
  display: flex;
  align-items: center;
  column-gap: var(--space-sm);
  padding: 0;
}

.add-item-button-wrapper button .material-icons {
  color: var(--primary-color);
  font-size: var(--text-lg);
}

dhub-user-menu-item {
  display: block;
  padding-top: var(--space-md);
  border-top: var(--divider-height) solid var(--divider-color);
}
