dhub-menu-item,
.menu-item-skeleton {
  display: block;
  border-bottom: var(--divider-height) solid var(--divider-color);
  margin-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

dhub-menu-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.menu-item-category-skeleton {
  width: 8%;
}

.menu-item-header-skeleton {
  display: flex;
  justify-content: space-between;
  margin: var(--space-md) 0;
}

.menu-item-header-skeleton .skeleton-text {
  width: 20%;
}

.menu-item-header-skeleton .skeleton-text:last-child {
  width: 8%;
}

.no-data-found-wrapper {
  margin: var(--space-xxl) 0 var(--space-lg) 0;
}
