section {
  display: flex;
  column-gap: calc(2 * var(--space-xxl));
}

.hero-message-wrapper {
  flex: 0.8;
}

.hero-message-wrapper > h1 {
  margin: 0;
}

.hero-message-wrapper > p {
  margin-bottom: var(--space-sm);
}

.hero-features-list {
  display: flex;
  padding: 0;
  margin: 0 0 var(--space-md) 0;
}

.hero-features-list > li {
  color: var(--secondary-text-color);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: var(--space-xl);
}

.hero-features-list > li::before {
  content: "•";
  margin-right: var(--space-sm);
  font-size: var(--text-xxl);
}

.hero-icon-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
  border-radius: var(--surface-corner-radius);
}

.hero-icon {
  color: var(--primary-color);
  font-size: 180px;
}
