dhub-review-item,
.review-skeleton {
  display: block;
  border-bottom: var(--divider-height) solid var(--divider-color);
  margin-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.review-header-skeleton {
  margin-bottom: var(--space-md);
}

.review-header-skeleton .skeleton-text {
  width: 20%;
}

.review-header-skeleton :last-child.skeleton-text {
  width: 10%;
}

.review-comment-skeleton :last-child.skeleton-text {
  width: 80%;
}

.review-rating-skeleton {
  width: 15%;
  margin-top: var(--space-lg);
}

.no-data-found-wrapper {
  margin: var(--space-xxl) 0 var(--space-lg) 0;
}

.see-more-button-container {
  display: flex;
  justify-content: center;
}

.secondary-button {
  margin: var(--space-xl) 0 var(--space-lg) 0;
}

.add-item-button-wrapper {
  margin-top: var(--space-md);
  padding-bottom: var(--space-md);
  border-bottom: var(--divider-height) solid var(--divider-color);
}

.add-item-button-wrapper button {
  display: flex;
  align-items: center;
  column-gap: var(--space-sm);
  padding: 0;
}

.add-item-button-wrapper button .material-icons {
  color: var(--primary-color);
  font-size: var(--text-lg);
}
