header {
  display: flex;
  align-items: center;
  padding: var(--space-lg) var(--outer-margin-horizontal);
}

.header-item {
  flex: 1;
}

.app-brand-wrapper {
  color: inherit;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

nav {
  text-align: center;
}

nav a {
  color: var(--secondary-text-color);
  font-size: var(--text-sm);
  font-weight: var(--weight-semibold);
  text-decoration: none;
  margin: 0 var(--space-lg);
}

nav a.active-link {
  color: var(--primary-color);
  font-weight: var(--weight-bold);
  text-underline-offset: 0.6em;
  text-decoration: underline 0.17em var(--primary-color);
  animation: 300ms 1 normal underline-anim;
}

@keyframes underline-anim {
  from {
    text-decoration: underline 0.17em var(--primary-color);
    text-underline-offset: 0.3em;
  }

  to {
    text-decoration: underline 0.17em var(--primary-color);
    text-underline-offset: 0.6em;
  }
}
