:host {
  display: flex;
}

.tab-panel-wrapper {
  flex: 1;
}

.horizontal-panel {
  display: flex;
  flex-direction: column;
}

.horizontal-panel div[role=tablist] {
  display: flex;
  justify-content: center;
  column-gap: var(--space-xl);
  padding-bottom: var(--space-md);
  border-bottom: var(--divider-height) solid var(--divider-color);
}

.horizontal-panel .tab-button {
  font-size: var(--text-lg);
  font-family: inherit;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  background: none;
  border: none;
}

.side-panel {
  display: flex;
  column-gap: var(--space-lg);
}

.side-panel div[role=tabpanel] {
  flex: 1;
}

.side-panel div[role=tablist] {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-md);
  border-right: var(--divider-height) solid var(--selected-background-color);
}

.side-panel .tab-button {
  font-size: var(--text-md);
  font-family: inherit;
  font-weight: var(--weight-semibold);
  text-align: left;
  cursor: pointer;
  background: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  padding: var(--space-sm) var(--space-xl) var(--space-sm) var(--space-lg);
}

.side-panel .tab-button[aria-selected="true"] {
  background: var(--selected-background-color);
}

.tab-button[aria-selected="false"] {
  color: var(--secondary-text-color__alpha-80);
}

.tab-button[aria-selected="false"]:hover {
  color: var(--secondary-text-color);
}
