.back-link-wrapper {
  margin-top: 0;
  margin-bottom: var(--space-lg);
}

.back-link-wrapper a {
  display: inline-flex;
  align-items: center;
  column-gap: var(--space-sm);
  color: var(--primary-text-color);
  font-weight: var(--weight-semibold);
  text-decoration: none;
}

.restaurant-details-wrapper {
  margin: 0 var(--space-xxl);
}

dhub-restaurant-reviews-and-menu {
  display: block;
  margin: var(--space-xxl) var(--space-xxl) 0 var(--space-xxl);
}
