:root {
  /* Colors */
  --primary-color: #a52405;
  --on-primary-color: #ffffff;
  --dark-primary-color: #8A2911;
  --surface-color: #F7EAE6;
  --primary-text-color: #000000;
  --secondary-text-color: #6d6d6d;
  --divider-color: #EDEDED;

  /* Typography */
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-size: var(--text-md);
  font-weight: var(--weight-medium);

  --text-base-size: 1em;
  --text-sm: calc(var(--text-base-size) * 0.9);
  --text-md: var(--text-base-size);
  --text-lg: calc(var(--text-base-size) * 1.25);
  --text-xl: calc(var(--text-base-size) * 1.5);
  --text-xxl: calc(var(--text-base-size) * 2.25);

  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-black: 900;

  /* Spacing */
  --space-base-size: 1em;
  --space-sm: calc(0.5 * var(--space-base-size));
  --space-md: var(--space-base-size);
  --space-lg: calc(2 * var(--space-base-size));
  --space-xl: calc(3 * var(--space-base-size));
  --space-xxl: calc(4 * var(--space-base-size));

  --outer-margin-horizontal: var(--space-xl);

  /* Misc */
  --surface-corner-radius: 15px;
}

/* Global Styles */
body {
  margin: 0;
}

h1 {
  font-size: var(--text-xxl);
}
h2 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-lg);
}
h4 {
  font-size: var(--text-md);
}

.app-logo {
  color: var(--primary-color);
  font-size: var(--text-xl);
  font-weight: var(--weight-bold);
  margin: 0 var(--space-sm) 0 0;
}

.app-title {
  color: var(--primary-color);
  font-size: var(--text-xl);
  font-weight: var(--weight-black);
  margin: 0;
}

.primary-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-lg);

  &:hover {
    background-color: var(--dark-primary-color);
  }
}
