@import "../node_modules/@ng-select/ng-select/themes/default.theme.css"
  layer(components);

:root {
  /* Colors */
  --primary-color: #a52405;
  --on-primary-color: #ffffff;
  --dark-primary-color: #8a2911;
  --secondary-color: #6d6d6d;
  --secondary-color__alpha-10: #F1F1F1;
  --surface-color: #f7eae6;
  --primary-text-color: #000000;
  --secondary-text-color: #6d6d6d;
  --secondary-text-color__alpha-70: #9a9a9a;
  --error-color: #b00020;
  --divider-color: #ededed;
  --background-item: #bdbdbd;

  /* Typography */
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-size: var(--text-md);
  font-weight: var(--weight-medium);

  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-xxl: 2.25rem;

  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-black: 900;

  /* Spacing */
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;

  --outer-margin-horizontal: var(--space-xl);
  --inner-margin-horizontal: calc(
    var(--outer-margin-horizontal) + var(--space-xl)
  );

  /* Misc */
  --divider-height: 2px;
  --surface-corner-radius: 15px;
  --review-star-color: #eb6d00;
}

/* Global Styles ================== */
body {
  margin: 0;
}

h1 {
  font-size: var(--text-xxl);
  font-weight: var(--weight-bold);
}

h2 {
  font-size: var(--text-xl);
  font-weight: var(--weight-bold);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

input {
  color: var(--secondary-text-color);
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--weight-semibold);
  border-radius: 4px;
  border: var(--divider-height) solid var(--divider-color);
  padding: var(--space-sm) var(--space-md);
}

input::placeholder {
  color: var(--secondary-text-color__alpha-70);
}

input:focus {
  outline: 2px solid var(--primary-color);
}

.ng-select-container {
  height: auto;
  border-color: var(--divider-color);
  border-width: var(--divider-height);
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  outline: 2px solid var(--primary-color);
  border-color: var(--divider-color);
  box-shadow: none;
}

.ng-value-container {
  color: var(--secondary-text-color);
  font-weight: var(--weight-semibold);
  padding: var(--space-sm) var(--space-md);
}

.ng-option {
  color: var(--secondary-text-color);
  padding: var(--space-sm) var(--space-md);
}

.ng-option-selected {
  background-color: transparent;
}

.ng-option-marked {
  background-color: #efefef;
}

.dhub-pagination-control {
  display: block;
}

.dhub-pagination-control .ngx-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-sm);
  padding: 0;
}

.dhub-pagination-control .ngx-pagination a {
  padding: 0.8rem 1.2rem;
}

.dhub-pagination-control .ngx-pagination a:hover {
  background-color: var(--divider-color);
}

.dhub-pagination-control .ngx-pagination li {
  border-radius: 10%;
  border: var(--divider-height) solid var(--divider-color);
}

.dhub-pagination-control .ngx-pagination .current {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  border: none;
  padding: 0.8rem 1.4rem;
}

/* Buttons ======================= */
.primary-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  padding: var(--space-sm) var(--space-lg);
}

.primary-button:enabled:hover {
  background-color: var(--dark-primary-color);
}

.primary-button:disabled {
  cursor: not-allowed;
  background-color: var(--dark-primary-color);
  opacity: 0.75;
}

.secondary-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  color: var(--secondary-color);
  background-color: transparent;
  border-radius: 4px;
  border: var(--divider-height) solid var(--secondary-color);
  padding: var(--space-sm) var(--space-lg);
}

.borderless-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--weight-semibold);
  color: var(--secondary-text-color);
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: var(--space-sm) 0;
}

.borderless-button:hover {
  color: var(--primary-text-color);
}

.secondary-button:hover {
  background-color: var(--secondary-color__alpha-10);
}

/* Section Heading ==================== */
.section-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-heading-wrapper > h2 {
  text-align: center;
  margin: 0 var(--space-lg);
}

.section-heading-wrapper .section-title {
  display: block;
  color: var(--primary-color);
  font-size: var(--text-md);
  font-weight: var(--weight-semibold);
  text-transform: uppercase;
  margin-bottom: var(--text-sm);
}

.section-heading-wrapper:before,
.section-heading-wrapper:after {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 3px;
  background-color: var(--primary-color);
}

/* Loading Indicators ============== */
.loading-dots {
  font-size: var(--text-xxl);
  line-height: 1;
  display: block;
}

.loading-dots::before,
.loading-dots::after {
  content: "•";
  display: inline-block;
  animation: loading-dot-grow-anim 1.4s infinite ease-in-out;
}

.loading-dots::after {
  animation-delay: 0.4s;
  transform: scale(0);
}

@keyframes loading-dot-grow-anim {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.skeleton-square {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  animation: skeleton-loading 1s infinite alternate;
}

.skeleton-text {
  display: block;
  width: 100%;
  height: var(--text-md);
  border-radius: var(--surface-corner-radius);
  animation: skeleton-loading 1s infinite alternate;
  margin: var(--space-sm) 0;
}

.skeleton-text:last-child {
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: #d2d6dc;
  }
  100% {
    background-color: #e8eaed;
  }
}

/* Misc =========================== */
.material-icons {
  font-size: inherit;
  font-weight: inherit;
}

.app-logo {
  color: var(--primary-color);
  font-size: var(--text-xl);
  font-weight: var(--weight-bold);
  margin: 0 var(--space-sm) 0 0;
}

.app-title {
  color: var(--primary-color);
  font-size: var(--text-xl);
  font-weight: var(--weight-black);
  margin: 0;
}

.no-data-found-wrapper {
  flex: 1;
  color: var(--background-item);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-xl);
}

.no-data-found-wrapper p {
  font-weight: var(--weight-semibold);
  margin-bottom: 0;
}

.no-data-found-icon {
  font-size: 5.5rem;
  display: block;
}
