<article>
  <div class="restaurant-header">
    <h1 class="restaurant-title">
      <span class="material-icons restaurant-icon">storefront</span
      >{{ restaurantModel().name }}
    </h1>
    <p class="restaurant-score">
      <span class="material-icons">star</span>{{ restaurantModel().score }}
    </p>
  </div>
  <p>
    {{ restaurantModel().description }}
  </p>
  <div class="restaurant-footer">
    <p class="restaurant-location">
      <span class="material-icons">location_on</span
      >{{ restaurantModel().location }}
    </p>
    @if (showDetailsButton()) {
      <button
        class="primary-button"
        [routerLink]="['/' + RoutePaths.Restaurants, restaurantModel().id]"
      >
        See Details
      </button>
    }
  </div>
</article>
