<h1>About</h1>
<p>
  DishHub is a website for restaurant reviews and promotion. The system allows
  users to sign up, promote their own restaurants, and post reviews about other
  establishments.
</p>
<p>
  The application was developed as part of a practical project for the Software
  Engineering course offered by
  <a href="https://www.unb.br/">University of Brasília</a> during the 2024/2
  semester.
</p>
<h2>Features</h2>
<ul>
  <li>
    <strong>User Registration:</strong> Users can sign up for the system to
    manage their restaurants, menus, and reviews.
  </li>
  <li>
    <strong>Restaurant Management:</strong> Users can register and manage
    information about their establishments, including details such as name,
    description, and location.
  </li>
  <li>
    <strong>Menu Management:</strong> Users can add and manage menu items for
    their restaurants, listing the available dishes.
  </li>
  <li>
    <strong>Review System:</strong> Users can post reviews and rate restaurants
    they’ve visited based on their experience.
  </li>
</ul>
<h2>Tech Stack</h2>
<ul>
  <li>
    <a href="https://angular.dev/">Angular</a> +
    <a href="https://angular.dev/guide/components">Standalone Components</a> on
    the frontend.
  </li>
  <li>
    <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET Core</a> on the
    backend.
  </li>
  <li>
    <a href="https://www.postgresql.org/">PostgreSQL</a> +
    <a href="https://learn.microsoft.com/en-us/ef/core/">EF Core</a> for the
    database.
  </li>
  <li>
    <a
      href="https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity"
      >ASP.NET Identity</a
    >
    for authentication and authorization (web cookies).
  </li>
</ul>
<h2>License</h2>
<p>
  This project is distributed under the MIT License. Check the
  <a href="https://github.com/enzzoMs/DishHub/blob/main/LICENSE">LICENSE</a>
  file for more details.
</p>
