<section aria-labelledby="benefits-heading">
  <div class="section-heading-wrapper">
    <h2 id="benefits-heading">
      <span class="section-title">Benefits</span>What You Get
    </h2>
  </div>
  <div class="benefits">
    <div class="benefit-item">
      <span class="material-icons benefit-logo">location_on</span>
      <h3>Discover Restaurants</h3>
      <p>Locate top dining spots and see what they have to offer.</p>
    </div>
    <div class="benefit-item">
      <span class="material-icons benefit-logo">restaurant</span>
      <h3>Showcase your menu</h3>
      <p>Own a restaurant? Share your menu and attract more customers.</p>
    </div>
    <div class="benefit-item">
      <span class="material-icons benefit-logo">star</span>
      <h3>Review your experience</h3>
      <p>Share your thoughts on restaurants you've visited.</p>
    </div>
  </div>
</section>
